

.attributio {
position: absolute;
top: 0%;
  justify-content: center;
}

body {
  background-color: hsl(212, 45%, 89%);
  justify-content: center;
  display: flex;
 font-family: 'Outfit', sans-serif;
}

.qr-code{
  width: 100%;
  height: auto;
    border-radius: 15px;
}

.container { 
  position: absolute;
  top: 50px;
  width:  475px;
  height: 575px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  font-family: 'Outfit', sans-serif;
  text-align: center;
  padding: 20px;
}
