

.attributio {
position: absolute;
top: 0%;
  justify-content: center;
}

body {
  background-color: hsl(212, 45%, 89%);
  justify-content: center;
  display: flex;
 font-family: 'Outfit', sans-serif;
}

.qr-code{
  width: 90%;
  height: 340px;
    border-radius: 15px;
}

.container { 
  position: absolute;
  top: 200px;
  width:  400px;
  height: 560px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  font-family: 'Outfit', sans-serif;
  text-align: center;
  padding-top: 20px;

}

.title {
  font-weight: 700;             
  font-size: 26px;             
  color: hsl(218, 44%, 22%);   
  margin-top: 25px;
  margin-bottom: 15px;
  padding-left: 50px;           
  padding-right: 50px;
}

.description {
  font-weight: 400;            
  font-size: 16px;              
  color: hsl(216, 15%, 48%);    
  padding-left: 70px;
  padding-right: 70px;
}
